.start-button, .reset-button, .question-button, .back-button, .yes-button, .no-button, .confirm-button {
    -fx-font-family: 'Courier New';
    -fx-font-size: 20;
    -fx-text-fill: "white";
    -fx-padding: 10,8,10,8;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
}

.start-button, .reset-button, .back-button, .yes-button, .no-button{
    -fx-background-color: rgb(220,38,136);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.5) , 15 , 0 , 0 , 0 );
}

.question-button, .confirm-button {
    -fx-background-color: rgb(85,189,202);
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.7) , 15 , 0 , 0 , 0 );
}

.start-button:hover, .reset-button:hover, .question-button:hover, .back-button:hover, .yes-button:hover, .no-button:hover, .confirm-button:hover {
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.2) , 13 , 0 , 0 , 0 );
    -fx-cursor: hand;
}

.yes-button {
    -fx-background-color: #99ff6f;
}

.no-button {
    -fx-background-color: #ff6060;
}

.start-jeopardy, .category-label, .prompt, .winnings-label, .question-info, .validation-label {
    -fx-font-family: "Courier New";
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-font-weight: bold;
}

.start-jeopardy {
    -fx-font-size: 60;
}

.category-label, .winnings-label, .question-info {
    -fx-font-size: 24;
}

.prompt, .validation-label {
    -fx-font-size: 30;
}

.answer-input {
    -fx-font-family: "Courier New";
    -fx-font-size: 20;
}

.winnings-pos, .question-info, .correct-label {
    -fx-text-fill: #99ff6f;
}

.winnings-neg, .incorrect-label {
    -fx-text-fill: #ff6060;
}

.background {
    -fx-background-image: url("bg.png");
    -fx-background-position: center center;
    -fx-background-repeat: stretch;
}
.answering-stage {
    -fx-background-color: #38276b;
}
